* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 100%;
    margin: 5px auto;
}
.navbar {
    background: #ffffff;
    color: #000000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 0 #000000;
}
.navbar h5 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.cubicBox {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttonBox {
    width: 20%;
    display: flex;
    flex-flow: column;
    padding: 20px;
}
.footer {
    clear: both;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 20px 0;
}
.box {
    height: 250px;
    width: 33.33%;
}
.boxText {
    display: flex;
    height: 100%;
    font-size: 80px;
    color: #FFFFFF;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.btn-custom {
    color: #ffffff;
    background: #72C3DC;
    width: 100%;
    height: 50px;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 5px 1px 0 #2B8EAD;
    border-radius: 10px;
    border: 1px solid #72C3DC;
    margin: 10px 0;
    cursor: pointer;
}
.btn-custom:hover {
    opacity: .5;
    border: 1px solid #72C3DC;
}
@media all and (max-width: 375px) {
    .navbar {
        background: #000000;
        color: #ffffff;
    }
    .navbar h5 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    .container {
        margin: 0 auto;
    }
    .desktop {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .cubicBox {
        order: 2;
        width: 100%;
        padding: 20px;
    }
    .footer {
        order: 3;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 100%;
        padding: 5px 0;
    }
    .buttonBox {
        order: 1;
        width: 100%;
        flex-flow: row;
        justify-content: center;
        padding: 10px 20px 0;

    }
    .box {
        height: 50px;
        width: 100%;
        margin: 2px 0;
    }
    .boxText {
        margin: 0 0 0 10px;
        font-size: 20px;
        color: #000000;
        background: #EDEDED;
        font-weight: bold;
        align-items: center;
        justify-content: center;
    }
    .btn-custom {
        max-width: 100px;
        height: 50px;
        margin-right: 5px;
    }
}
