.container-fluid-custom {
    width: auto;
}
.navbar {
    background: #ffffff;
    color: #000000;
}
.box {
    height: 150px;
}
.boxText {
    height: 150px;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}
.btn-custom {
    color: #ffffff;
    background: #72C3DC;
    min-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-custom:hover {
    opacity: .5;
}
.shadow-custom {
    box-shadow: 0px 5px 1px 0px #2B8EAD;
}
.btnBox {
    height: 70px;
    padding-top: 10px;
}

@media all and (max-width: 768px) {
    .navbar {
        background: #000000;
        color: #ffffff;
    }
    .box {
        height: 50px;
    }
    .boxText {
        height: 50px;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        margin-right: -5px;
        background: #DDDDDD;
    }
    .btn-custom {
        min-width: 120px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .btnBox {
        text-align: center;
        padding-top: 5px;
    }

}
